@use 'Vars';

.navBar {
    background: Vars.$gray700;
    height: 100px;
    width: 100%;
    border: 0 1px solid black;
    padding-top: 2%;

    
    nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        section{
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                height: 100%;
                font-size: 40px;
                margin-left: 12px;
                display: flex;
                justify-content: flex-start;
                font-family: 'Inter', sans-serif;
                font-weight: 900;
                color: Vars.$purpleDark;
                align-items: flex-start;
    
                
                span {
                    color: Vars.$blue;
                }
            }
        }
    }
}