@use 'Vars';

.boxInf{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 720px;
}

.division{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    
    h3{
        color: Vars.$blue;
    }

    p{
        color: Vars.$gray200;
        background-color: Vars.$gray400;
        padding: 2px 8px;
        border-radius: 99px;
    }

}