@use 'Vars';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.uniqueTask {

    background-color: Vars.$gray500;
    border-radius: 8px;
    padding: 5px 16px;

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;

        p {
            color: Vars.$gray100;
            font-weight: 400;
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            line-height: 20px;
            text-align: left;
        }

        button {
            background: none;
            border: none;

            svg {
                color: Vars.$gray300;
                height: 20px;
                width: 20px;
                cursor: pointer;
                transition: color 400ms;
            }
        }

        svg:hover {
            color: Vars.$red;
        }

    }

    .pCheck{
        color: Vars.$gray300;
        text-decoration: line-through;
    }

}

.inputCheck[type=checkbox] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.44rem;
    height: 1.44rem;
    color: Vars.$purple;
    vertical-align: middle;
    // o que tira o style padrão
    -webkit-appearance: none;
    background: none;
    border: 1px solid Vars.$blue;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    transition: background 500ms;
    cursor: pointer;
}

.inputCheck[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
}

.inputCheck[type=checkbox]:checked {
    background-color: currentcolor;
    border: none;
}

.inputCheck[type=checkbox]:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
.inputCheck[type=checkbox]:checked:hover{
    background-color: Vars.$purpleDark;
}


.inputCheck[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}

.boxTask {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.boxTaskNone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid Vars.$gray300;
    border-radius: 8px;
    color: Vars.$gray300;
    font-family: 'Inter', sans-serif;

    img{
        margin-top: 64px;
    }

    h3{
        font-weight: 700;
    }

    p{
        font-weight: 400;
    }
}

